<% content_for :page_header do %>

<script src="http://api.map.baidu.com/api?v=2.0&ak=<your_baidu_api_key>"></script>

<% end %>

<div class="modal fade" id="venueMapModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <%= render 'shared/modal_close' %>
        <h3 class="modal-title"><%= t("views.venues.map.title") %></h3>
      </div>
      <div class="modal-body ta-left">
        <div id="map-container">
          <%= text_field_tag 'map-address', '', 
                placeholder: t("views.venues.map.search"), 
                class: "controls" %>
          <div id="map-canvas"></div>
          <div id="search-result-panel"></div>
          <input id="temp-lat" type="hidden">
          <input id="temp-lng" type="hidden">
          <input id="temp-city" type="hidden">
        </div>
      </div>
      <div class="modal-footer">
        <%= button_tag t("general.done"), 
              type: "button", 
              class: "btn btn-success full-width", 
              onclick: "resolveLocation();",
              data: { dismiss: "modal" } %>
        <%= render 'shared/modal_cancel' %>
      </div>
    </div>
  </div>
</div> 

<% content_for :page_footer do %>
<script type="text/javascript">

  var map;

  function initBaiduMap() {
    map = new BMap.Map("map-canvas");
    // Zoom to default area
    map.centerAndZoom("北京", 18);    
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());
    map.addControl(new BMap.OverviewMapControl());
    map.addControl(new BMap.MapTypeControl());
    map.addEventListener("click", function(e){
      panToMap(e.point);
    });

    // Search box
    var input = new BMap.Autocomplete({
      "input": "map-address",
      "location": map
    });    

    // Click on the location drop down list
    input.addEventListener("onconfirm", function(e) {  
      var _value = e.item.value;
      var value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
      local = new BMap.LocalSearch(
        map, 
        { 
          onSearchComplete: function(result){
            panToMap(local.getResults().getPoi(0).point);
          }              
        }
      );
      local.search(value);
    });
  }

  function panToMap(point) {
    rememberLocation(point);
    map.clearOverlays();
    map.centerAndZoom(point, 18);
    map.addOverlay(createMarker(point)); 
  }

  function createMarker(point) {
    var icon = new BMap.Icon('<%= asset_path("marker.png") %>', new BMap.Size(30, 42));
    var marker = new BMap.Marker(point, { icon: icon });
    marker.enableDragging();
    marker.addEventListener("dragend", function(e){        
      rememberLocation(e.point);
    });
    return marker;  
  }

  function rememberLocation(point) {
    elem('temp-lat').value = point.lat;
    elem('temp-lng').value = point.lng;
    var gc = new BMap.Geocoder();
    gc.getLocation (point, function (rs)
    {
      var addComp = rs.addressComponents;
      elem('temp-city').value = addComp.city;
    });
  }

  var form;
  function showBaiduMap(address) {
    form = $(address).closest(".venue-form");
    var lat = form.find('.lat').val();
    var lng = form.find('.lng').val();
    if (lat) {
      setTimeout(function() {
        panToMap(new BMap.Point(lng, lat));
      }, 500);
    }
    $('#venueMapModal').modal('show');
  }

  function resolveLocation() {
    var lat = elem('temp-lat').value;
    var lng = elem('temp-lng').value;
    var city = elem('temp-city').value;

    form.find('.lat').val(lat);
    form.find('.lng').val(lng);
    form.find('.city').val(city);
    setTimeout(function() {
      form.find('.phone').focus();
    }, 200);
  }

  $(function() {
    initBaiduMap();
  });

</script>

<% end %>

